
<html>
    <head>
        <title>Blog de Natacha</title>
    </head>
    <body>
        <div>
            <h1><a href="">Blog de Natacha</a></h1>
        </div>

        <div>
            <p>published: 20.10.2018, 17:14</p>
            <h2><a href="">Mon premier post</a></h2>
            <p>Aujourd'hui, je participe à l'atelier Django Girls. </br>Ca se déroule à thecamp.</br>C'est très sympa.</p>
        </div>

        <div>
            <p>published: 20.10.2018, 17:14</p>
            <h2><a href="">Mon second post</a></h2>
            <p>J'ai appris à faire des petits bouts de code en Python.</br>Puis, j'ai installé Django sur Pythonanywhere.</br>Etc. etc.</p>
        </div>
    </body>
</html>
